notebooks/.ipynb_checkpoints
.ipynb_checkpoints
notebooks/__pycache__
.vscode
.PedSilicoICH
.PedsilicoICH
notebooks/default
notebooks/test
notebooks/*/*.png
build

octave-workspace
MIDA Head Phantom
MIDA_Head_Phantom
NIHPD_Head_Phantom
*.raw
*.air
*.offset
*.dcm
*.nii
*.prep
*.scan
*.json
*.csv
default
*.cfg
__pycache__
*.nrrd
*.nii
src/PedSilicoICH.egg-info
.env
experiments/*/*.png
lesions.png