notebooks/.ipynb_checkpoints
.ipynb_checkpoints
notebooks/__pycache__
.vscode
.PedSilicoICH
.PedsilicoICH
.pytest_cache
notebooks/*/*.png
build

*.raw
*.air
*.offset
*.dcm
*.nii
*.prep
*.scan
**/phantoms/*/*.json
notebooks/*.csv
*.cfg
__pycache__
*.nrrd
*.nii
src/PedSilicoICH.egg-info
.env
tests/*.png
lesions.png
*.log
*.1*
*.2*
*.3*
*.4*
*.5*
*.6*
*.7*
*.8*
*.9*