notebooks/.ipynb_checkpoints
.ipynb_checkpoints
notebooks/__pycache__
.vscode
.InSilicoICH
.pytest_cache
notebooks/*/*.png
.pyradiomics
.insilicoich
build

batchmode_CT_dataset_pipeline.sge
run_batchmode.sh
*.csv
*.raw
*.air
*.offset
*.dcm
metadata*
*.prep
*.scan
**/phantoms/*/*.json
notebooks/*.csv
__pycache__
src/InSilicoICH.egg-info
.env
tests/*.png
lesions.png
*.log
*.zip
*.1*
*.2*
*.3*
*.4*
*.5*
*.6*
*.7*
*.8*
*.9*
*.nii
!src/insilicoICH/annotations/suture/NIHPD_Head_Phantom/assets
!src/insilicoICH/annotations/skull/NIHPD_Head_Phantom/assets/mesh_brain.vtk
!src/insilicoICH/annotations/skull/NIHPD_Head_Phantom/assets/skull_mesh.vtk