include src/pedsilicoICH/defaults/*
include src/pedsilicoICH/ground_truth_definition/MIDA_v1.csv
include src/pedsilicoICH/distributions/*
include src/pedsilicoICH/configs/default.toml
include src/pedsilicoICH/annotations/suture/NIHPD_Head_Phantom/labelmap.nrrd