# Reconstruction
recon.fov = 250.0          # diameter of the reconstruction field-of-view (in mm)
recon.imageSize = 512       # number of columns and rows to be reconstructed (square)
recon.sliceCount = 30        # number of slices to reconstruct
recon.sliceThickness = 5  # reconstruction inter-slice interval (in mm)
recon.reconType = 'helical_equiAngle'       # Name of the recon function to call
recon.kernelType = 'standard'
recon.centerOffset = [0.0,0.0,0.0] # reconstruction offset relative to center of rotation (in mm)

recon.unit = 'HU'                       # '/mm', '/cm', or 'HU'
recon.mu = 0.020                        # in /mm; typically around 0.02/mm

recon.printReconParameters = True      # Flag to print the recon parameters
recon.saveImageVolume = True            # Flag to save recon results as one big file
recon.saveSingleImages = False          # Flag to save recon results as individual imagesrecon.printReconParameters = False      # Flag to print the recon parameters
recon.displayImagePictures = False       # Flag to display the recon results as .png images
recon.saveImagePictureFiles = False     # Flag to save the recon results as .png images
recon.displayImagePictureAxes = False   # Flag to display the axes on the .png images
recon.displayImagePictureTitles = False # Flag to display the titles on the .png images